<template lang="html">
	<div class="container">
		<div class="row">
			<div class="column">
				<ul>
					<li v-for="career in careers">
						<router-link :to="'/careers/' + camelCase(career.name)">
							{{ career.name }}
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	import camelCase from 'camelcase';
	import careers from '@data/careers';

	export default {
		name: 'CareerList',
		data () {
			return {
				careers
			};
		},
		methods: { camelCase }
	};
</script>
