<template lang="html">
	<div class="container">
		<div class="row">
			<div class="column">
				asdf
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'CareerDetail'
	};
</script>

<style lang="css">
</style>
