<template>
  <div class="main container">
		<div class="row">
			<div class="column">
				<ul>
					<li v-for="route in routes">
						<router-link :to="'/' + route">
							{{ route | capitalize }}
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'Home',
		data () {
			return {
				routes: [
					'careers',
					'species'
				]
			};
		}
	};
</script>
