<template>
  <div class="main">
		<Header />
		<article>
			<h1>
				Enter a New Species
			</h1>
			<form v-on:submit="submit">
				<section id="name">
					<label>
						<h2>
							Name
						</h2>
						<input type="text" v-model="name" required />
					</label>
				</section>
				<section v-if="fileAPISupported" id="image">
					<label>
						<h2>
							Image
						</h2>
						<input v-on:change="uploadImage" type="file" />
					</label>
				</section>
				<section id="information">
					<h2>
						Information
					</h2>
					<div class="description-block" v-for="info in information">
						<label>
							<h3>
								Header
							</h3>
							<input type="text" v-model="info.header" required />
						</label>
						<label>
							<h3>
								Description
							</h3>
							<textarea v-model="info.description" required />
						</label>
						<button class="remove-info" v-if="information.length > 1" v-on:click="information.splice(information.indexOf(info), 1)" type="button">
							Remove information
						</button>
					</div>
					<button class="new-description" v-on:click="addInfo" type="button">
						Add more information
					</button>
				</section>
				<section id="abilities">
					<h2>
						Abilities
					</h2>
					<label v-for="ability in abilities">
						<h3>
							{{ ability.name | capitalize }}
						</h3>
						<input v-model="ability.value" type="number" min="0" required />
					</label>
				</section>
				<section id="thresholds">
					<h2>
						Thresholds
					</h2>
					<div v-for="threshold in thresholds">
						<h3>
							{{ threshold.name | capitalize }}
						</h3>
						<label>
							<h4>
								Value
							</h4>
							<input v-model="threshold.value" type="number" min="0" required />
						</label>
						<label>
							<h4>
								Ability
							</h4>
							<input v-model="threshold.ability" type="text" required />
						</label>
					</div>
				</section>
				<section id="xp">
					<label>
						<h2>
							Base Experience
						</h2>
						<input v-model="xp" type="number" min="0" required />
					</label>
				</section>
				<section id="perks">
					<h2>
						Extra Perks
					</h2>
					<div v-for="perk in perks">
						<label>
							<h3>
								Name
							</h3>
							<input v-model="perk.name" type="text" required />
						</label>
						<label>
							<h3>
								Description
							</h3>
							<textarea v-model="perk.description" required />
						</label>
						<button class="remove-perk" v-on:click="perks.splice(perks.indexOf(perk), 1)" type="button">
							Remove Perk
						</button>
					</div>
					<button class="add-perk" v-on:click="addPerk" type="button">
						Add a perk
					</button>
				</section>
				<input type="submit" value="Submit" />
			</form>
		</article>
		<Footer />
	</div>
</template>

<script>
	/* global FormData */
	/* global XMLHttpRequest */
	import Header from '@/views/layout/Header';
	import Footer from '@/views/layout/Footer';
	import swal from 'sweetalert2';

	const sendJSON = (data, callback) => {
		const request = new XMLHttpRequest();
		request.open('POST', 'http://localhost:3000/api/species', true);
		request.setRequestHeader('Content-Type', 'application/json');
		request.send(JSON.stringify(data));
		if (callback) {
			request.onload = () => {
				callback(JSON.parse(request.response));
			};
		}
	};

	export default {
		name: 'NewSpecies',
		components: {
			Footer,
			Header
		},
		data () {
			return {
				name: '',
				image: null,
				information: [
					{
						header: '',
						description: ''
					}
				],
				abilities: [
					{
						name: 'brawn',
						value: 0
					},
					{
						name: 'agility',
						value: 0
					},
					{
						name: 'intellect',
						value: 0
					},
					{
						name: 'cunning',
						value: 0
					},
					{
						name: 'willpower',
						value: 0
					},
					{
						name: 'presence',
						value: 0
					}
				],
				thresholds: [
					{
						name: 'wound',
						value: 0,
						ability: ''
					},
					{
						name: 'strain',
						value: 0,
						ability: ''
					}
				],
				xp: 0,
				perks: []
			};
		},
		computed: {
			fileAPISupported: () => {
				if (window.File && window.FileReader && window.FileList && window.Blob) {
					return true;
				} else {
					return false;
				}
			}
		},
		filters: {
			capitalize: val => val.charAt(0).toUpperCase() + val.slice(1)
		},
		methods: {
			addInfo () {
				this.information.push({
					header: '',
					description: ''
				});
			},
			addPerk () {
				this.perks.push({
					name: '',
					description: ''
				});
			},
			submit () {
				sendJSON(this.$data, (response) => {
					if (response.success) {
						// It worked !
						swal('Awesome!', 'Your species was entered into the database.', 'success');
					} else {
						// It didn't work :-(
						swal('Oops...', 'Something went wrong!', 'error');
					}
				});
			},
			uploadImage () {
				const fd = new FormData();
				const file = document.querySelector('input[type="file"]').files[0];
				fd.append('image', file, file.name);
				const xhr = new XMLHttpRequest();
				xhr.open('POST', '/api/image', true);
				xhr.send(fd);
			}
		}
	};
</script>

<style lang="stylus" scoped>
	div.main {
		display: flex;
		flex-direction: column;
		height: 100%;
		article {
			flex-grow: 1;
			width: calc(100% - 2rem);
			margin: auto;
			padding-bottom: 1rem;
			h1 {
				text-align: center;
			}
			form {
				display: flex;
				flex-direction: column;
				section {
					background: #eee;
					border-radius: .25rem;
					margin-bottom: 1rem;
					padding: 1rem;
					overflow: hidden;
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					h2 {
						background: #333;
						color: #eee;
						margin: -1rem -1rem 1rem -1rem;
						padding: 0 .5rem;
						font-size: 1.25rem;
						height: 2rem;
						line-height: 2rem;
					}
					h3 {
						font-size: 1.125rem;
						font-weight: 400;
						margin: 0 0 .5rem .5rem;
						line-height: 1.6em;
					}
					h4 {
						font-size: 1rem;
						font-weight: 200;
					}
				}
				input[type="text"], input[type="number"], input[type="submit"], textarea, button {
					padding: .5rem;
					width: 100%;
					font-size: 1.25rem;
					line-height: 1.6em;
				}
				textarea {
					height: calc((1.6em * 5) + 2.25rem);
					margin-bottom: 1rem;
				}
			}
		}
	}
</style>
