<template lang="html">
	<div class="container">
		<div class="row">
			<div class="column">
				<ul>
					<li v-for="specie in species">
						<router-link :to="'/species/' + camelCase(specie.name)">
							{{ specie.name }}
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	import camelCase from 'camelcase';
	import species from '@data/species';

	export default {
		name: 'SpeciesList',
		data () {
			return {
				species
			};
		},
		methods: { camelCase }
	};
</script>
