<template lang="html">
	<div class="container">
		<div class="row">
			<div class="column">
				<h1>
					{{ species.name }}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h2>
					Description
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="column" v-for="description in species.descriptions">
				<div>
					<h3>
						{{ description.game }}
					</h3>
					<p>
						{{ description.text }}
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h2>
					Abilities
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="column" v-for="(ability, label) in species.abilities">
				<h3>
					{{ label | capitalize }}
				</h3>
				<p>
					{{ ability }}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h2>
					Thresholds
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="column" v-for="(threshold, label) in species.thresholds">
				<h3>
					{{ label | capitalize }}
				</h3>
				<p>
					{{ threshold.value }} + {{ threshold.ability | capitalize }}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h2>
					Starting Experience
				</h2>
				<p>
					{{ species.baseXP }}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h2>
					Bonuses
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="column" v-for="bonus in species.bonuses">
				<h3>
					{{ bonus.title }}
				</h3>
				<p>
					{{ bonus.description }}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h2>
					Information
				</h2>
			</div>
		</div>
		<div class="row" v-for="info in species.information">
			<div class="column">
				<h3>
					{{ info.title }}
				</h3>
				<div class="container">
					<div class="row">
						<div class="column" v-for="description in info.descriptions">
							<h4>
								{{ description.game }}
							</h4>
							<p v-for="section in description.sections">
								{{ section }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<pre>{{ species }}</pre>
			</div>
		</div>
	</div>
</template>

<script>
	import species from '@data/species';

	export default {
		name: 'SpeciesDetail',
		data () {
			return {
				species: species[this.$route.params.id]
			};
		}
	};
</script>
