<template>
	<router-view />
</template>

<script>
	export default {
		name: 'App'
	};
</script>

<style lang="stylus">
	body {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", sans-serif;
		font-size: 100%;
	}

</style>
