$bgColor: #fff;
$fgColor: #000;
$red: #eb3b5a;
$lightRed: #fc5c65;
$orange: #fa8231;
$lightOrange: #fd9644;
$yellow: #f7b731;
$lightYellow: #fed330;
$green: #20bf6b;
$lightGreen: #26de81;
$teal: #0fb9b1;
$lightTeal: #2bcbba;
$skyBlue: #2d98da;
$lightSkyBlue: #45aaf2;
$blue: #3867d6;
$lightBlue: #4b7bec;
$purple: #8854d0;
$lightPurple: #a55eea;
$grey: #a5b1c2;
$lightGrey: #d1d8e0;
$steel: #4b6584;
$lightSteel: #778ca3;
